<div class="container-fluid">
  <div class="sticky-top row bg-dark text-light align-items-center" style="height: 75px">
    <div class="col-12">
      TODO MANAGER
    </div>
  </div>


  <div class="row">
    <div class="col-3 d-none col-3 d-md-block"></div>
    <div class="col-12 col-md-6 bg-secondary d-flex align-items-center" style="height: 100px">
      <input class="form-control" type="text" [(ngModel)]="todo" placeholder="Add Task Here...">
      <input (click)="create()" class="btn btn-dark" type="button" value="ADD">
    </div>
    <div class="col-3 d-none col-3 d-md-block"></div>
  </div>


  <!-- DISPLAY PART-->
  <div class="row mt-1" *ngFor="let item of list">
    <div class="col-3 d-none col-3 d-md-block"></div>
    <div class="col-12 col-md-6 bg-secondary d-flex align-items-center justify-content-between" style="height: 100px">
      <div class="h4 text-light">{{item.todo}}</div>
      <input  class="btn btn-danger" type="button" value="DEL" (click)="delete(item)">
    </div>
    <div class="col-3 d-none col-3 d-md-block"></div>
  </div>
</div>